# Auto detect text files and perform LF normalization
* text=auto

# Hide certain files from linguist so correct coding language shown
results/* linguist-vendored
data/* linguist-vendored
reference_files/* linguist-vendored